<nav class="sidebar">
    <div class="logo">
        <a [routerLink]="''">
            <img src="src\assets\img\logo.jpg">
        </a>

    </div>

    <div class="navigation">
        <ul class="list-unstyled">
            <li [routerLink]="'profile'" routerLinkActive="active">
                <a>Profile</a>
            </li>
            <li [routerLink]="'myCards'" routerLinkActive="active">
                <a>My Cards</a>
            </li>
            <li [routerLink]="'informatzione'" routerLinkActive="active">
                <a>Inforamtion</a>
            </li>

        </ul>

    </div>
</nav>
