.basicForm{
    border: none;  
    border-radius: 5%;
    display: block;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    background-color: darkgray;
    box-shadow: 5px 5px 5px 5px #b4b1b1;
}

li{
    text-align: left;
}

.open{
    display: block;
}

.closed{
    display: none;
}

textarea{
    width: 95%;
    text-align: center;
    border-radius: 0%;
    margin-top: 3px;
    transition: box-shadow 0.3s;
}
textarea:focus{
    box-shadow: 0 1px 6px 5px rgb(0,123,255);
}

input[type="checkbox"]:hover{
    cursor: pointer;
}