<form class="basicForm" (ngSubmit)="onSubmit($event, contracttitle.value.toString(), contractdescription.value.toString(), dateinput.value)">
   <i>Create a New Contract to compete with your friends. Loser(s) get a Challenge</i> 
    <br>
    <br>
   
    <div class="search-container" #searchWrapper>
        <span>Participants: </span>
        <input [formControl]="searchControl" placeholder="Search users" class="search-input" 
            (focus)="searchIsFocused = true" 
            (click)="searchIsFocused = true"
            >
        <div class="suggestions" *ngIf="searchIsFocused && (searchResults$ | async) as results">
        <div *ngIf="results.length > 0">
                <div class="suggestion-item" *ngFor="let user of results" (click)="addParticipant(user.username)">
                    {{ user.username }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="participants">
        <span *ngFor="let name of contractParticipants" class="participant">
            {{ name }}
        </span>
    </div>
   
    <br>
    <br>
    Contract Title: <input type="text" #contracttitle> <br>
    <textarea rows = "5" placeholder="Contract Description. What are you betting on?" #contractdescription></textarea><br>

    <br>
    <Span>Due date:  </Span><input type="date" #dateinput /> 
    <br>
    <br>
    <span>Challenge level:&nbsp;&nbsp;</span>
        <button type="button"
            (click)="onChecked(0, 'green')"
        [ngStyle]="checked[0]
            ? {'background-color':'green','color':'white','border':'none','padding':'6px 10px','border-radius':'4px'}
            : {'background-color':'transparent','border':'2px solid green','color':'green','padding':'6px 10px','border-radius':'4px'}">
        Green
    </button>&nbsp;&nbsp;

        <button type="button"
            (click)="onChecked(1, 'goldenrod')"
        [ngStyle]="checked[1]
            ? {'background-color':'goldenrod','color':'black','border':'none','padding':'6px 10px','border-radius':'4px'}
            : {'background-color':'transparent','border':'2px solid goldenrod','color':'goldenrod','padding':'6px 10px','border-radius':'4px'}">
        Yellow
    </button>&nbsp;&nbsp;

        <button type="button"
            (click)="onChecked(2, 'red')"
        [ngStyle]="checked[2]
            ? {'background-color':'red','color':'white','border':'none','padding':'6px 10px','border-radius':'4px'}
            : {'background-color':'transparent','border':'2px solid red','color':'red','padding':'6px 10px','border-radius':'4px'}">
        Red
    </button>&nbsp;&nbsp;

        <button type="button"
            (click)="onChecked(3, 'random')"
        [ngStyle]="checked[3]
            ? {'background':'linear-gradient(90deg, green 0%, yellow 50%, red 100%)','color':'white','border':'none','padding':'6px 10px','border-radius':'4px'}
            : {'background':'transparent','border':'2px solid #ccc','color':'inherit','padding':'6px 10px','border-radius':'4px'}">
        <span style="color:green">Ra</span><span style="color:goldenrod">nd</span><span style="color:red">om</span>
    </button>&nbsp;&nbsp;



    <br><br><br>
    <input class="btn-primary btn-lg" type="submit">  
</form>
