.mainTitle{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large ;
    text-align: center;
    position: relative;
    color:rgb(0,123,255);
    padding: 20px 20px 20px 70px;
}


.container-fluid{
    width: auto;
}