
<br>
<section *ngIf="logedInUser$ | async as user; else guestTemplate">
   <h2>Welcome {{ user.username }}</h2>
   <img *ngIf="user.pfp" [src]="user.pfp" alt="profile picture">
</section>

<ng-template #guestTemplate>
   <h2>Welcome Guest</h2>
   <p>
     Please <b style="color: rgb(142, 127, 255);cursor: pointer;" (click)="toggleLoginPopup('login')">Login</b> to access your contracts and more.
     <br>
     Or if you don't have an account, please <b style="color: rgb(142, 127, 255);cursor: pointer;" (click)="toggleLoginPopup('register')">Register</b> .
   </p>
</ng-template>

<br>
<br>
<br>
<app-testing-grounds></app-testing-grounds>

<!-- <div data-aos="fade-left"> but not working now-->
<div>
   Welcome to your profile. On the right, lies a navigation menu.
   See your current cards or create new ones
    Click on "Draw Random" to play "Truth or Dare"
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<div>
   Welcome to your profile. On the right, lies a navigation menu.
   See your current cards or create new ones
    Click on "Draw Random" to play "Truth or Dare"
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
   Welcome to your profile. On the right, lies a navigation menu.
   See your current cards or create new ones
    Click on "Draw Random" to play "Truth or Dare"
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
   Welcome to your profile. On the right, lies a navigation menu.
   See your current cards or create new ones
    Click on "Draw Random" to play "Truth or Dare"
</div>


<br>
<br>