

<h1 style="color:rgb(162, 61, 61)">NOTICE! : This website is supposed to be using a database, but It is not connected to one(for simplicity reasons)
<br> The available users are the following, and any others are hardcoded as sample/examples:
</h1>


<pre>
   id:7, name:"Pantelis", pfp:'https://picsum.photos/200'  
   id:103, name:"Aurorra", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:513, name:"Kosmas", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:105, name:"Ioanna", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:123, name:"Maria", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:100, name:"Kwstas", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:999, name:"Dimitris", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:309, name:"Sindler", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:807, name:"Zerg", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:582, name:"Spaghetti", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:580, name:"Spari", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  
   id:581, name:"Sparilillililili", pfp:'https://www.w3schools.com/images/w3schools_green.jpg'  

</pre>

<br>
<br>

<h2> {{logedInUser.name}} </h2>
<img src="{{logedInUser.pfp}}" alt="profile picture">