<app-new-contract-form (newContractEmitter)="addContract($event)"></app-new-contract-form>
<br>
<br>

<div *ngIf="!(loggedInUser$ | async)">
    <p>Please log in to view and manage your contracts.</p> 
</div>

<div *ngIf="userContracts$ | async as contracts">

    <h2>Pending Contracts</h2>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let contract of contracts">
            <app-contract-pending
            [contractInfo]="contract"
            >
            </app-contract-pending>
        </div>
    </div>

</div>

