<app-new-contract-form (newContractEmitter)="addContract($event)"></app-new-contract-form>
<br>
<br>
<div *ngIf="loggedInUser$ | async as user">

    <h2>Pending Contracts</h2>
    <div class="row">
        <div class ="col-sm-4" >
            <div *ngFor="let contract of userContracts$ | async">
                <app-contract-pending [contractInfo]="contract" (deleteContractEmitter)="removeContract($event)"></app-contract-pending>
            </div>
        </div>    
    </div>
</div>


<div *ngIf="!(loggedInUser$ | async)">
    <p>Please log in to view and manage your contracts.</p> 
