<div class="container-fluid">
    <div class="row">
       
        <app-card [cardInfo]="daregotten"  (click)="drawRandom(randomCategory())" ></app-card>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary btn-lg" (click)="drawRandom('truth')"> TRUTH </button>
        </div>
        <div class="col">
            <button class="btn btn-primary btn-lg" (click)="drawRandom('dare')"> DARE </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col" style=" margin-top: 10%;">
           <footer class="add_place">
            <a href="https://www.artix.com/" target="_blank">Place for Ad
            <img src="../../../assets/img/advertisement.jpg" rel="noopener noreferrer" alt="AD">
            </a>
           </footer>
        </div>
    </div>
</div>

