<h4> Select target for: {{ data.title | uppercase }}</h4>

<mat-form-field appearance="fill">
    <mat-label>Select your Victim</mat-label>
    <mat-select >
        <mat-option *ngFor="let target of data.targets" value={{target.id}}  [(ngModel)]="data.activatedOn">
            {{target.name}}
         </mat-option>
    </mat-select>
</mat-form-field>
<button mat-button (click)="sendPerson(007)"  >OK</button>
<button mat-button [mat-dialog-close]="data.activatedOn" cdkFocusInitial>"Cancel</button>