<div class="card bg-light mb-3" style="max-width: 18rem;min-height: 24rem;">
    <div class="card-header" [style.backgroundColor]="contractInfo.color"> {{contractInfo.title | titlecase}} </div>
    <div class="card-body">
      <h4> STATUS: {{ status }} </h4>
      <p class="card-text">{{contractInfo.description}}</p>

      <h5 class="badge" [style.backgroundColor]="contractInfo.color">Challenge Level: {{contractInfo.color | titlecase}}</h5>
      <dl>
        <dt>Participants:</dt>
        <dd *ngFor="let participant of contractInfo.participants">{{participant}}</dd>
      </dl>
      <p *ngIf="contractInfo.dueDate" class="card-text"><small class="text-muted">Expires On: {{contractInfo.dueDate}}</small></p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-success" (click)="completeContract()">Complete</button>
        <button type="button" class="btn btn-outline-danger right" (click)="deleteContract()">Delete</button>
    </div>
  </div>